.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 200px; 
  height: 1.2em; 
  white-space: nowrap;
}
.last-message {
  color: grey;
}
.thread-list-item:hover{
  background-color: #e0ece4;
  cursor: pointer;
}
