html,
body {
  height: 100%;
}

body {
  background-color: #d6d2c4;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  margin: auto;
  font-family: "PT Sans Caption", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.f-icons {
  margin: 5px;
}

.login {
  background-color: #dddddd;
  width: 500px;
  height: 250px;
  padding: 20px;
  margin: auto;
  border-radius: 2%;
  text-align: left;
}

.contacts {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  border-right: 2px solid grey;
  height: 100%;
  background-color: #eeeeee;
  padding: 10px 0;
}

.search-contact-list {
  width: 90%;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.contacts i {
  position: absolute;
  top: 33px;
  left: 30px;
  color: darkgreen;
}

.individual-contact {
  text-align: left;
  padding: 10px 0 0 0;
  /* margin-top: -5px; */
  margin-bottom: 0;
  background-color: #eeeeee;
}

.individual-contact:hover {
  background-color: #e0ece4;
  cursor: pointer;
}

.profile-pic {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: inline;
  margin: 5px;
}

.boundary {
  margin: 10px 0 0 0;
}

.write-message {
  background-color: #eeeeee;
  padding: 15px 10px;
  position: fixed;
  top: 575px;
  width: 100%;
  text-align: left;
}

.heading {
  position: fixed;
  width: 100%;
}
.send-message {
  border-radius: 25px;
  width: 65%;
  outline: none;
  border: none;
  padding-left: 5px;
  margin-right: 10px;
}

.name {
  font-weight: bold;
  display: inline;
}

.send-button {
  border-radius: 100%;
}

#last-seen {
  display: inline;
  padding: 0;
}

.chat-zone {
  position: absolute;
  top: 0;
  left: 368px;
  width: 70%;
  height: 100%;
}

.texting-area {
  position: fixed;
  top: 72px;
  width: 70%;
  height: 503px;

  padding: 10px 20px;
}

.last-text {
  font-size: 12px;
  color: grey;
  display: inline;
  margin: 0;

  font-weight: lighter;
}

.note {
  background-color: ivory;
  width: 40%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 13%;
  text-align: left;
  line-height: 90%;

  position: absolute;
  right: 0;
}

.text {
  font-size: 12px;
}

.date-time {
  font-size: 8px;
  color: grey;
}

span {
  margin-left: 5px;
}

.my-container {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  background-color: red;
  height: 100vh;
}

.my-profile {
  margin-left: 5px !important;
  display: inline;
}

.btn-sml {
  height: 4vh;
}
.new-message {
  display: flex;
  align-items: center;
}

.thread-item {
  height: 70px;
}
.thread-list {
  background-color: greenyellow;
  border: 1px solid black;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 95px);
}

.top-row {
  height: 55px;
}
.search-row {
  height: 40px;
}

.text-area {
  height: 60px;
  padding: 10px;
  background-color: red;
}
.chat-area {
  height: calc(100vh - 115px);
  background-color: green;
}

.row-no-margin {
  display: flex;
  flex-wrap: wrap;
}

.bubble-container {
  width: 100%;
  display: "flex";
}
.bubble {
  border: 0.5px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
}

.left {
  justify-content: flex-start !important;
}
.right {
  justify-content: flex-end !important;
}

.chat-bubble-container {
  bottom: 0px;

  margin-bottom: 68px;
}
